.cards {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  line-height: 29px;
  margin-top: 30px;
}

.cards__list {
  list-style: none;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 480px) {
  .cards {
    padding: 0px 19px;
    max-width: 282px;
    margin: 0px;
  }

  .cards__list {
    display: flex;
    max-width: 282px;
    flex-direction: column;
    justify-content: center;
    column-gap: 20px;
  }
}
