.header {
  margin-top: 45px;
}

@media screen and (max-width: 480px) {
  .header {
    margin-top: 26px;
    width: 100%;
    border-bottom: solid #545454 1px;
    border-width: 100%;
  }
  .header__image {
    max-width: 126px;
    height: auto;
    margin-left: 27px;
    margin-bottom: 32px;
  }
}
