.page {
  background-color: black;
  color: white;
  margin: 0px;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

@media screen and (max-width: 500px) {
  .page {
    margin: 0px;
    justify-content: center;
    display: flex;
  }
}
