.header {
  margin-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__image {
  background-image: "/src/images/logo.svg";
  margin-bottom: 41px;
}

@media screen and (max-width: 900px) {
  .header {
    margin-top: 26px;
    width: 100%;
  }
  .header__image {
    max-width: 126px;
    height: auto;
    margin-left: 27px;
    margin-bottom: 32px;
  }
}
